# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env
.env.*

# pipenv files
Pipfile.lock

# macOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Sentry debug cache
.sentry-debug/
