[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
click = "*"
rich = "*"
argon2-cffi = "*"
pyjwt = "*"
alembic = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.13"
